@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font-family: Courier New;
  font-size: 100%;
  background-color: black;
  margin: 0;
}

/* link styles */
a:link, a:visited { color: gray; }
a:focus, a:hover, a:active { color: gray; }

a {
  text-decoration: none;
  padding-bottom: .2em;
}


/* header styles */
header {
  color: white;
    background:  url(images/11222.jpg);

  background-attachment: fixed;
  background-size: 100vw;
  background-position: 0px 0px;
  text-align: center;
  height: 358px;
width: 100%;
  background-position: center center;
background-size: cover;
background-repeat: no-repeat;
backface-visibility: hidden;
animation: slideBg 30s linear infinite 30s;
animation-timing-function: ease-in-out;
   animation-delay: -0s;

}


@keyframes slideBg {
    5%{
	 background-image: url(images/11222.jpg);

	}
	25%{
		 background-image: url(images/334.jpg);

	}
	50%{
		 background-image: url(images/11222222.jpg);

	}75%{
		 background-image: url(images/8.jpg);

	}
	100%{
		 background-image: url(images/4.jpg);
}
}

header h1 {
  color: white;
  -color: #ffce0a;
  -color: rgb(199, 76, 76);
  margin-top: 4em;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size:4em;
  text-shadow: .06em .06em black;

}
header p {
  display: none;
}


/* nav styles */
nav {
   background-color: rgba(255,255,255,0.6);
   }

footer {
font-family: Courier ,Impact, Verdana, sans-serif;
background-color: black;
color: white;
;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-family: Verdana, fantasy;
}

nav ul li {
  text-transform: uppercase;
  flex: 1 1 50%;
}
nav ul li a { 	
   display: block; 	
   padding: 0em 0em;
   margin: 1.4rem 0.4em;
  } 	

#maincon{
    background-image: url(images/4.jpg);
    background-attachment: fixed;
	background-size:cover;
	background-repeat:no-repeat;
	min-height: 700px;
}

/* main "products" styles */
main {
  font-size: 1.5em;
  line-height: 1.2em;
  color: white;
  margin: 1.5% 2.5%;
  text-align: center;
  color: black;
}
h2 {
  font-family: Courier New;
  font-weight: normal;
  font-size: 1.3em;
}
h3 {
  font-family: Courier New;
  font-weight: normal;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
  border-top: 1.5px solid;
  margin-top: 2em;
  color:white;
}
h4{
	font-family: Courier New, monospace;
	color: orange;
	text-shadow:4px 4px brown;
	font-style: bold;
	font-size:5em;
	text-transform: uppercase;
    text-align: center;
	font-weight:50000;
}
#end{
		font-family: Courier New, monospace;
        color:white;  
	    font-size: 1.5em;
		text-transform: uppercase;
		font-weight: 1000;
}
#end2{
			text-align: center;

}
.p12
{
	font-weight: bold;
}
p.more {
  font-family: Impact;
  text-transform: uppercase; 
  font-size: .8em;
  clear: left;
}
main img {
  display: block;
  margin: 1.5em auto;
}

footer {
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 1em;
}
.day {
  color: #783F27;
  font-family:Impact;
  font-size: .8em;
  text-transform: uppercase;
}
.linelength {
  background: yellow;
} 

@media screen and (min-width: 400px) {
  nav ul li {
    flex: none;
  }
  nav ul {
    justify-content: center; 
  }
}

@media screen and (min-width: 480px) {
  main img {
    float: left;
    margin: 0 0.5em 1em 0;
  }

  img[src*="muffin"] {
    margin-left: 50px;
    -webkit-shape-outside: url(images/muffin.png);  
    shape-outside: url(images/muffin.png);  
    -webkit-shape-margin: 1em; 
    shape-margin: 1em;
  }
  img[src*="bread"] {
    -webkit-shape-outside: url(images/bread.png);  
    shape-outside: url(images/bread.png);    
    -webkit-shape-margin: 1em; 
    shape-margin: 1em;
  }
}

@media screen and (min-width: 600px) {
  header p {
    display: block;
    margin-top: -1.5em;
	font-family: Verdana, monospace;
    font-style: italic;
    font-size: 1.2em;
	font-weight: 1000;
  }
  main, h2, h3 {
font-family: Courier New;  }
  h2, h3 {
    font-weight: bold;
  }
  main {
    line-height: 1.4em;
    padding: 0.2em;
    border: double 4px #EADDC4;
    border-radius: 25px;
    margin: 0.5% 2.5%; 
  }
}

@media screen and (min-width: 940px) {
  #container {
    display: grid;
    grid-template-rows: auto min-height 5em;
    grid-template-columns: minmax(25em, 1fr) 16em;
    grid-template-areas: 
      "banner banner"
	  "p2 p2"
	  "c2 c2"
      "footer footer";
    max-width: 100%;
    margin:  auto;
    position: relative;
  }
  header {
    grid-area: banner;
  }
  #p2{
	  grid-area: p2;
  }
  #c2{
	  grid-area: c2;
  }
  footer {
    grid-area: footer;
  }
  #logo { 	
    position: absolute; 	
    top: 0px; 	
    left: 0px;
  }
  #img{
	  	border-radius: 30%;
  }
  
} 

/* CSS Document */



#nav ul li a:link, nav ul li a:visited {
  -color: #ffdc2e;
  /* color: #F6FA16;*/
  color: rgb(250, 20, 60);
 text-decoration:none;
 font-family: Saira Stencil One, Trade Winds, Bangers, Impact;
 transition-property: box-shadow color background-color transform border-radius;
 transition-duration: 0.5s;
 -text-shadow: 0.1em 0.1em rgb(250, 20, 60);
 text-shadow: 0em 0em gray;
 color: black;
 border: 2px solid black;
 padding: 0px 3px;
 display: box;
 font-size: 1.2rem;
 -box-shadow: 2px 2px black;

}
#nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: white;
  border-radius:10px;
  background-color: black;
  border: 2px solid black;
  box-shadow: 0px 0px black;
  transform: translate(0px, 3.5px);
  transform: scale(1.1);
  box-shadow: 0px 0px black;
}
nav {
   background-color: rgba(255,255,255, 1);
   background-color: white;
   height: 77px;
   }
#footer{
	border: 2px solid black;
	padding: 3px 5px;
}
.p1{
	border: 8px solid black;
	padding: 2px 15px;
}
footer
{
	font-family: Saira Stencil One;
	background-color: white;
	color: black;
}
nav{
	padding-right: 2px;
}

nav ul {
float: right;
} 
  
  
 #search_bar
 {
	 border: 3px solid black;
	 height:2.1rem;
	 width:14rem;
	 padding-left:5px;
	 transition-property: border color transform background-color;
     transition-duration: 1.2s;
	 font-family: Bangers;
	 letter-spacing:0.1rem;
	 font-size:1.2rem;
	 	 text-align: center;

 }
 #search_btn
 { 
	border: 3px solid black;
	height :2.1rem;
	width: 5rem;
	text-transform: uppercase;
	font-family: Bangers;
	letter-spacing:0.2rem;
	font-size: 1.2rem;
	background-color:black;
	color: white;
	
	transition-property: border color transform background-color border-radius;
     transition-duration: 0.3s;
	 text-align: center;
 }
 
 #search{
	 margin-top:1.4rem;
	 margin-left:1rem;
	 margin-right:0.5rem;
 }
 
 #search_bar:hover, #search_bar:active, #search_bar:focus
 {
	 border:4.5px solid black;
	 transform: scale(1.06);
	 background-color:black;
	 color:white;
	 
 }
 #search_btn:hover, #search_btn:active, #search_tn:focus
 { 
	transform: scale(1.1);
	border-radius:10px;
	border:4.5px solid black;
	 transform: scale(1.03);
	 background-color:white;
	 color:black;
 }
 
#categories
{
	margin-left:40%;
	text-align: center;
}

.btn {
 display: block;
 text-decoration:none;
 text-align: center;
 padding: 20px 10px;
 width: 280px;
 height:80px;
 -white-space: nowrap;
 font-family: Bangers;
 font-size: 2rem;
 letter-spacing:0.2rem;
 border: 2px solid black;
 background-color: white;
 box-shadow:    13px 15px black;
             
  margin-right: 200px;
  color: white;
  transition-property: transform box-shadow text-shadow ;
  transition-duration: 0.25s;
  box-sizing: 0.8rem;
  
}
.btn:hover, .btn:focus {
  transform: translate(13px, 13px);
  box-shadow: 0px 0px black;
	
}
#d1{text-align:center;
     margin-left:42%;
	 color: white;}
#d1 a:link, #d1 a:visited{
	color: black;
}
.strip{
	color: black;
	font-style: bold;
	font-size:4em;
	text-transform: uppercase;
    text-align: center;
    background-color: white;

  -color: rgb(199, 76, 76);
  font-family:  Saira Stencil One, Carter One, Monoton,Trade Winds, Unica One, Bangers,UnifrakturCook,Bangers;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-size: 3.5rem;
  -text-shadow: .06em .06em black ;
  height: 200px;

}
.p1{
	position: relative;
	top:-1px;
}
#c2 {
	-background:  url(images/28.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: 100% 100%; 
	min-height:450px;
	background-color:silver;
	min-height: 800px;
  }

